@font-face {
  font-family: MartianMono;
  src: url('/font/MartianMonoVF.woff2') format('woff2');
  font-weight: 100 800;
  font-stretch: 75% 112.5%;
  font-display: swap;
}

:root,
::backdrop {
  --white: #fff;
  --black: #282828;
  --red: #ec0000;
  --blue: #1768ac;
  --green: #4fb477;
  --yellow: #f5b82e;
  --gray: #747474;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  font-family: MartianMono, monospace;
  font-size: 10px;
  font-weight: 400;
  font-stretch: 85%;
  color: var(--black);
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 32rem;
  width: 100%;
  max-width: 104rem;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--green);
  border-radius: 0.5rem;
}

a:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 0.5rem;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
