.resume {
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 2rem;
  align-content: start;
}

.resume,
.preview {
  --h2-text-color: var(--black);
  --h3-text-color: var(--black);
  --h3-border-color: var(--accentColor);
  --h4-text-color: var(--black);

  --text-color: var(--black);

  --link-text-color: var(--black);
  --link-decoration-color: var(--accentColor);
  --link-outline-color: var(--black);

  --link-text-color-hover: var(--black);

  section,
  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul {
    margin: 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  li {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.25rem;
    text-align: center;
    color: var(--h2-text-color);
  }

  h3 {
    font-size: 2rem;
    color: var(--h3-text-color);
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid var(--h3-border-color);
  }

  h4 {
    font-size: 1.75rem;
    color: var(--h4-text-color);
  }

  p {
    font-size: 1.5rem;
  }

  p:has(time) {
    color: var(--gray);
  }

  a {
    color: var(--link-text-color);
    background-image: linear-gradient(
      90deg,
      var(--accentColor),
      var(--accentColor) 50%,
      currentColor 50%,
      currentColor
    );
  }
}

.resume__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (width < 960px) {
  .resume {
    grid-template-columns: 1fr;
  }
}
